@model TicketViewModel
@{
    ViewBag.Title = Model.TicketKey;
    TimeSpan counter = (Model.DispatchDate - DateTime.UtcNow);

}

<div class="container mx-auto">
    <div class="text-center">
        <h1 class="display-4">@Model.TicketLabel</h1>
    </div>
    <div class="row">
        <div>
            <ul class="list-unstyled">
                @if (Model.DispatchDate > DateTime.UtcNow)
                {
                    <li>
                        <h4>Dispatched Date and Time:</h4><p class="text-info">
                            @Model.DispatchDate.ToString("dd MMM yyyy,  HH : mm tt")  @*@Model.DispatchDate.ToTimeZoneTime("Pacific Standard Time").ToString("dd MMM yyyy HH : mm tt")*@
                        </p>
                    </li>
                    <li>
                        <h4>Time Left:</h4><p class="text-info">                           
                            <spam class="text-danger">@String.Format("{0} days, {1} hours, {2} minutes", counter.Days, counter.Hours, counter.Minutes)</spam>
                        </p>
                    </li>
                }
                else
                {
                    <li><h4>dispatched at: </h4><p class="text-info"> @Model.DispatchDate.ToString("dd MMM yyyy, HH : mm tt")</p></li>
                }


                <li><h4>Description:</h4><p class="text-info">@Model.Description</p></li>
                <li><h4>First Check:</h4><p class="text-info">@Model.FirstCheck</p></li>
                <li><h4>Second Check:</h4><p class="text-info">@Model.SecondCheck</p></li>
                <li><h4>Volume:</h4><p class="text-info">@Model.Volume</p></li>
                <li><h4>Status:</h4><p class="text-info">@Model.Status</p></li>
                <li><h4>Created By:</h4><p class="text-info">@Model.FirstName @Model.LastName</p></li>
                <li><h4>Date Created:</h4><p class="text-info">@Model.CreatedDate.ToString("dd MMM yyyy, HH : mm tt")</p></li>
            </ul>
        </div>
    </div>
</div>
