@model TicketViewModel
@{
    ViewBag.Title = Model.TicketKey;
    TimeSpan counter = (Model.DispatchDate - DateTime.UtcNow);

}

<div class="container">
    <h2>@Model.TicketLabel</h2>
    <hr />
    <dl class="row">
        @if (Model.DispatchDate > DateTime.UtcNow)
        {
            <dt class="col-md-3">Dispatched Date and Time:</dt>
            <dd class="col-md-9">@Model.DispatchDate.ToString("dd MMM yyyy,  HH : mm tt")</dd>
            <dt class="col-md-3">Time Left:</dt>
            <dd class="col-md-9">@String.Format("{0} days, {1} hours, {2} minutes", counter.Days, counter.Hours, counter.Minutes)</dd>

        }
        else
        {
            <dt class="col-md-3">Dispatched at:</dt>
            <dd class="col-md-9"> @Model.DispatchDate.ToString("dd MMM yyyy, HH : mm tt")</dd>
        }
        <dt class="col-md-3">Status:</dt>
        <dd class="col-md-9">@Model.Status</dd>
        <dt class="col-md-3">Volume:</dt>
        <dd class="col-md-9">@Model.Volume</dd>
        <dt class="col-md-3">Created by:</dt>
        <dd class="col-md-9">@Model.FirstName @Model.LastName</dd>
        <dt class="col-md-3">Date Created:</dt>
        <dd class="col-md-9">@Model.CreatedDate.ToString("dd MMM yyyy, HH : mm tt")
        <dt>
        <dt class="col-md-3">First Check:</dt>
        <dd class="col-md-9">@Model.FirstCheck</dd>
        <dt class="col-md-3">Second check:</dt>
        <dd class="col-md-9">@Model.SecondCheck</dd>
        <dt class="col-md-3">Description:</dt>
        <dd class="col-md-9">@Model.Description</dd>
    </dl>
</div>



